#personaHistoryDebugScreen,
#personaDebugScreen{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 400px;
  z-index: 10;
  background: #262D30;
  color: white;
  border: solid 1px gray;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 0;
  font-size: 14px;
  display: none;
}
#personaHistoryDebugScreen{
  left: 0;
  right: auto;
}

#personaHistoryDebugScreen h2,
#personaHistoryDebugScreen h3,
#personaDebugScreen h2, 
#personaDebugScreen h3{
  margin: 0 0 10px;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 16px;
}

#personaHistoryDebugScreen span.value,
#personaDebugScreen span.value{
  color: #EE5927;
}
#personaDebugScreen .general-rules{
  display: none;
}
#personaDebugScreen .general-rule strong{
  width: 100px;
  float: left;
  display: block;
  text-align: right;
}
#personaDebugScreen .general-rule span.value{
  margin-left: 110px;
  display: block;
}

#personaDebugScreen .rules{
  margin-top: 30px;
  display: none;
}
#personaHistoryDebugScreen.has-rules .rules,
#personaDebugScreen.has-rules .general-rules,
#personaDebugScreen.has-rules .rules{
  display: block;
}
#personaHistoryDebugScreen .current-history,
#personaDebugScreen .current-segment{
  position: relative;
}
#personaHistoryDebugScreen .current-history > h2,
#personaDebugScreen .current-segment > h2{
  margin-left: 70px;
}
#personaHistoryDebugScreen .current-history .window,
#personaDebugScreen .current-segment .window{
  display: none;
}
#personaHistoryDebugScreen.open .current-history .window,
#personaDebugScreen.open .current-segment .window{
  display: block;
}
#personaHistoryDebugScreen a.opener,
#personaDebugScreen a.opener{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  box-shadow: inset 0px 0px 1px white;
  border-radius: 0px 10px 0px 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
  padding: 2px 6px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-size: 11px;
}

#personaHistoryDebugScreen a.opener:hover,
#personaDebugScreen a.opener:hover{
  background: #ffffff;
  color: #0c6ca0;
}
#personaHistoryDebugScreen a.opener span.open-label,
#personaDebugScreen a.opener span.open-label{
  display: block;
}
#personaHistoryDebugScreen a.opener span.close-label,
#personaDebugScreen a.opener span.close-label{
  display: none;
}
#personaHistoryDebugScreen.open a.opener span.close-label,
#personaDebugScreen.open a.opener span.close-label{
  display: block;
}
#personaHistoryDebugScreen.open a.opener span.open-label,
#personaDebugScreen.open a.opener span.open-label{
  display: none;
}

@media screen and (min-width: 768px) {
  #personaHistoryDebugScreen,
  #personaDebugScreen{
    display: block;
  }
}

#personaHistoryDebugScreen .entries > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 600px;
  overflow: auto;
}
#personaHistoryDebugScreen .history-item{
  font-size: 12px;
}
#personaHistoryDebugScreen .history-item.hover{
  background: #DDD;
  color: black;
}
#personaHistoryDebugScreen .history-item .inner-wrapper:after{
  content: "";
  display: table;
  height: 0;
  clear: both;
}
#personaHistoryDebugScreen .history-item .time{
  float: left;
  width: 100px;
  text-align: right;
}
#personaHistoryDebugScreen .history-item .path{
  padding-right: 10px;
  margin-left: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body.altamed-live #personaHistoryDebugScreen,
body.altamed-live #personaDebugScreen{
  display: none !important;
}
